.pokeOverflow-auto{
  overflow: auto;
}
.pokeLista{
  position:fixed;
  top: 2.5em;
}
.pokeListaBlocos{
  li{
    padding: 0.5em;
    list-style: none;
    cursor: pointer;
  }
  background: #222222;
  overflow: auto;
  display: -webkit-box;
  padding-bottom: 0.5em;
}
.pokeListaBlocos::-webkit-scrollbar {
  background: #222222;
  height: 8px;
  width: 8px;
} /* configurando scroll */
.pokeListaBlocos::-webkit-scrollbar-track {
  background: transparent;
}
.pokeListaBlocos::-webkit-scrollbar-thumb {
  background: #FFFF21;
}
.pokeMapTable{
  max-height: 80vh;
  margin-bottom: 1em;
  td{
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.pokeMapTable::-webkit-scrollbar {
  background: #222222;
  height: 8px;
  width: 8px;
} /* configurando scroll */
.pokeMapTable::-webkit-scrollbar-track {
  background: transparent;
}
.pokeMapTable::-webkit-scrollbar-thumb {
  background: #FFFF21;
}

.tipoSelected{
  border: 1px solid;
}
.pokeMapTable__td{
  position: relative;
  img{
    left: 0;
    max-width: 40px;
    position: absolute;
    bottom: 0;
  }
}
