<section>
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-12">
        <h1 class="pokeTitulo">PokeMap</h1>
      </div>
    </div>
  </div>
  <div class="container pokeLista" ng-if="$ctrl.totalMapa">
    <ul class="pokeListaBlocos">
      <li>
        <button type="button" class="btn btn-info" ng-click="$ctrl.refresh()">Refresh</button>
      </li>
      <li>
        <button type="button" class="btn btn-success" ng-click="$ctrl.saveMap()">Salvar Mapa</button>
      </li>
      <li ng-class="{'tipoSelected': $ctrl.type == item.type}" ng-repeat="item in $ctrl.Image.imageType track by $index" ng-click="$ctrl.type = item.type">
        <img draggable="false" style="max-height: 48px;" ng-src="{{item.image}}" alt="">
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <form ng-submit="$ctrl.setaTamanhoMapa(form)" ng-if="!$ctrl.totalMapa">
            <div class="form-group" ng-model="form">
              <input autofocus placeholder="Tamanho do mapa" ng-disable="$ctrl.totalMapa" type="number" ng-model="form.totalMapa" required="" min="10">
            </div>
            <button type="submit" class="btn btn-success w-100">Setar Tamanho</button>
          </form>
        </div>
      <!-- </div> -->
      <div class="col-12 pokeOverflow-auto">
        <table class="pokeMap pokeMapTable d-flex justify-content-center pokeOverflow-auto">
          <tbody>
            <tr ng-repeat="map in $ctrl.mapa">
              <td
              style="background-image: url({{$ctrl.Image.imageType[col.type].image}})"
              ng-repeat='col in map.colunas track by $index'
              ng-class="{'pokeMapTable__td': col.object != ''}"
              ng-mousedown="$ctrl.handleMouseDown(map.id,col.id);"
              ng-mouseup="$ctrl.handleMouseUp()"
              ng-mouseover="$ctrl.handleMouseover(map.id, col.id)"
              class="pokeMap--before"
              >
                <img draggable="false" ng-if="col.object != ''" src="{{$ctrl.Image.imageType[col.object].image}}">

                <img draggable="false" class="pokeMapTable__td__img __top" ng-if="col.beforeOne != ''" src="{{col.beforeOne}}">
                <img draggable="false" class="pokeMapTable__td__img __down" ng-if="col.afterOne != ''" src="{{col.afterOne}}">
                <img draggable="false" class="pokeMapTable__td__img __left" ng-if="col.beforeTwo != ''" src="{{col.beforeTwo}}">
                <img draggable="false" class="pokeMapTable__td__img __right" ng-if="col.afterTwo != ''" src="{{col.afterTwo}}">

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
