<section>
  <div class="container-fluid">
    <div class="row h-100-vh justify-content-center align-items-center">
      <div class="col-12 pokeOverflow-auto">
        <table class="pokeMap pokeMapTable pokeMapTable__home pokeMap--noBorder d-flex justify-content-center pokeOverflow-auto">
          <tbody class="player">
            <tr ng-repeat="map in $ctrl.mapa.map">
              <td
              style="background-image: url({{$ctrl.imageType[col.type].image}})"
              ng-repeat='col in map.colunas track by $index'
              ng-class="{'pokeMapTable__td': col.object != '','playerHere': col.id == $ctrl.player.position.x && col.id_map == $ctrl.player.position.y}"
              class="pokeMap--before"
              >
                <img draggable="false" ng-if="col.object != ''" src="{{$ctrl.imageType[col.object].image}}">

                <img draggable="false" class="pokeMapTable__td__img __top" ng-if="col.beforeOne != ''" src="{{col.beforeOne}}">
                <img draggable="false" class="pokeMapTable__td__img __down" ng-if="col.afterOne != ''" src="{{col.afterOne}}">
                <img draggable="false" class="pokeMapTable__td__img __left" ng-if="col.beforeTwo != ''" src="{{col.beforeTwo}}">
                <img draggable="false" class="pokeMapTable__td__img __right" ng-if="col.afterTwo != ''" src="{{col.afterTwo}}">

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<style media="screen">
  .player:before{
    left: {{($ctrl.player.position.x)*40}}px;
    top: {{($ctrl.player.position.y)*40}}px;
  }
</style>
