<section class="pokemenu" style="background-image: url('media/background_3.jpg');">
  <div class="row container-fluid h-100-vh justify-content-center align-items-center no-gutters pokemenu__backdrop">
    <div class="col-lg-3 col-md-6 col-12 pokemenu__box">
      <h1 class="text-center">
        <img class="pokelogo" src="{{$ctrl.urlBase}}logo.png" />
      </h1>
      <a ng-href="/#!/pokegame">
        <button type="button" class="btn btn-outline-success w-100 mt-3 text-uppercase btn-pokemon" ng-mouseleave="$ctrl.pokeShuffle(1)">
          <img class="pokemenu__box__image pokemenu__box__image__player" src="{{$ctrl.urlBase}}player/male/right.gif">
          Start
          <img class="pokemenu__box__image pokemenu__box__image__pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{$ctrl.poke1}}.png">
        </button>
      </a>
      <a ng-href="/#!/pokedex">
        <button type="button" class="btn btn-outline-success w-100 mt-3 text-uppercase btn-pokemon" ng-mouseleave="$ctrl.pokeShuffle(2)">
          <img class="pokemenu__box__image pokemenu__box__image__player" src="{{$ctrl.urlBase}}player/male/right.gif">
          Pokédex
          <img class="pokemenu__box__image pokemenu__box__image__pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{$ctrl.poke2}}.png">
        </button>
      </a>
      <a ng-href="/#!/pokemap">
        <button type="button" class="btn btn-outline-success w-100 mt-3 text-uppercase btn-pokemon" ng-mouseleave="$ctrl.pokeShuffle(3)">
          <img class="pokemenu__box__image pokemenu__box__image__player" src="{{$ctrl.urlBase}}player/male/right.gif">
          Map generator
          <img class="pokemenu__box__image pokemenu__box__image__pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{$ctrl.poke3}}.png">
        </button>
      </a>
    </div>
  </div>
</section>
