body{
  user-select: auto;
}
body *{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.pokeMap{
  overflow: hidden;
  td{
    border: 1px solid #fff;
    padding: 20px;
    font-size: 12px;
  }
}
.playerHere{
  background: green;
  z-index: 1000;
}
.h-100-vh{
  height: 100vh;
}
.pokeMapTable__home{
  max-height: 100vh!important;
  margin: 0!important;
}
.player{
  position: relative;
  display: block;
  transition: 0.2s ease all;
  &:before{
    content: '';
    position: absolute;
    background: red;
    z-index: 5000;
    height: 40px;
    width: 40px;
    transition: 0.2s ease all;
  }
}
.pokeMap--noBorder{
  border: none;
  td{
    border: none;
  }
}
